<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Exemplary Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Employer Directory <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="employee">Employee Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="company">Company Data</a>
            </li>
          </ul>
        </div>
      </nav>
      
        <img src="https://cdn.dribbble.com/users/1550863/screenshots/9533406/media/55b7049adae047e08d3bb4488cbbda94.png?compress=1&resize=800x600&vertical=top
        "/>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <p class="lead">Access to the Company endpoint is blocked</p>
          </div>
        </div>
       
    

        </script>  
        </div> 
</body>

</html>
