<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class ="m-4"> 

      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Exemplary Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Employer Directory <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="employee">Employee Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="company">Company Data</a>
            </li>
          </ul>
        </div>
      </nav>
      
  
        

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr colspan="5">
                <th scope="col">Individual ID</th>
                <th scope="col">First Name </th> 
                <th scope="col">Last Name</th>
                <th scope="col">Title</th> 
                <th scope="col">City</th> 

            </tr>
            </thead>
            <tr class="parentRow">
              <td>
                <span class="expandChildTable ">{{data.responses[0]['individual_id']}}</span>
                <spanc class="badge badge-pill badge-dark">Click here</spanc>
            </td>
              <td>{{data.responses[0].body['first_name']}} </td>
              <td>{{data.responses[0].body['last_name']}}</td>
              <td>{{data.responses[0].body['title']}}</td>
              <td>{{data.responses[0].body.location['city']}}</td>

            </tr>

            <tr class="childTableRow">
                <td colspan="5">
                    <h5>Employer details</h5>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Department</th>
                            <th scope="col">Employment Type</th>
                            <th scope="col">Annual Income</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>{{data.responses[0].body.department['name']}}</td>
                            <td>{{data.responses[0].body.employment['subtype']}}</td>
                            <td>{{data.responses[0].body.income['amount']}}</td> 
                            </tr>
                        </tbody>
                        
                    </table>
                </td>
            </tr>
            
        </table>


        
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <p class="lead">Here we are calling the <a href ="https://developer.tryfinch.com/docs/reference/1ba5cdec4c979-employment">/employement</a> endopoint to get information about the Individual. When clicked on the Individual id, one can view company information</p>
          </div>
        </div>
       
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"> 
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script>
      //  script for click and expand logic
        $(function() {
            $('.childTableRow').hide();
            $('.expandChildTable').on('click', function() {
                $(this).toggleClass('selected').closest('tr').next().toggle();
            })
        });

        </script>  
        </div> 
</body>

</html>
